@use "@/styles/colors";

.question-box {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 0;
  width: 100%;
  border-radius: 8px;
  background-color: colors.$common-white;
  padding: 10px 0;
  color: colors.$text-default;
}

.question {
  margin: 0;
}
