@use "@/styles/colors";

%mbti {
  display: flex;
  place-items: center;
  justify-content: center;
  border-radius: 3px;
  border: none;
  cursor: pointer;
  transition: all 0.1s;

  &:active {
    background-color: colors.$button-active;
    // TODO: 버튼 클릭 이펙트 추가 (크기 줄어들기)
  }

  background-color: colors.$button-normal;
  height: 52px;
  width: 100%;
}

.unselected {
  @extend %mbti;
}

.selected {
  @extend %mbti;

  background-color: colors.$primary-normal;
}

.grid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 10px;
  width: 100%;
}
