$primary-light: #e5e0f5;
$primary-normal: #6c63a1;
$primary-medium: #c9c1eb;
$primary-strong: #4d4582;
$bg-default: #f5f5f5;
$bg-light: #efefef;
$bg-disabled: #e2e2e2;
$text-disabled: #a0a0a0;
$text-sub: #444;
$text-default: #232527;
$icon-disabled: #bfbfbf;
$common-white: #fff;
$common-point: #fa5454;
