$primary-light: #dfdcf4;
$primary-normal: #6c63a1;
$primary-strong: #4d4582;
$fill-normal: #fafafa;
$fill-disabled: #d9d9de;
$label-normal: #111;
$label-assistive: #767676;
$label-disabled: #888;
$progress-bar: #8f8f8f;
$progress-bar-shadow: #e5e5e5;
$button-normal: #d9d9d3;
$button-active: lightgray;
