@use "@/styles/colors";

.layout {
  max-width: 430px;
  height: 100dvh;
  margin: 0 auto;
  gap: 30px;
  background-color: colors.$bg-default;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  position: relative;
}
