@use "@/styles/colors";

.layout {
  max-width: 430px;
  height: auto; // 하단 고정 버튼을 위해 추가
  padding-bottom: 80px; // 하단 고정 버튼을 추가
  margin: 0 auto;
  gap: 20px;
  background-color: colors.$bg-default;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  position: relative;
  overflow: hidden;
}
