@use "@/styles/colors";

%form {
  display: flex;
  flex-direction: row;
  place-items: center;
  justify-content: space-between;
  border-radius: 8px;
  border: 1px solid colors.$button-normal;
  outline: none;
  padding: 2px 14px;
  box-sizing: border-box;

  &:focus-within {
    border: 2px solid colors.$primary-normal;
  }
}

.default {
  @extend %form;

  height: 52px;
  width: 100%;
}
