@use "@/styles/colors";

.container {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
}

.progress-bar-shadow {
  position: relative;
  height: 6px;
  background-color: colors.$primary-light;
  border-radius: 8px;
  margin: 8px;
}

.progress-bar {
  position: absolute;
  height: 100%;
  background-color: colors.$primary-normal;
  border-radius: 8px;
  transition: width 0.2s ease-in-out;
}
