@use "@/styles/colors";

%button {
  display: flex;
  place-items: center;
  justify-content: center;
  border-radius: 8px;
  cursor: pointer;
  background-color: colors.$bg-default;
  color: colors.$common-white;
  width: 100%;
  height: 52px;

  &:active {
    background-color: colors.$primary-strong;
  }
}

.primary {
  @extend %button;

  background-color: colors.$primary-normal;
}

.primary-bottom {
  @extend %button;

  position: absolute;
  bottom: 60px;
  background-color: colors.$primary-normal;
}

.disabled {
  @extend %button;

  background-color: colors.$bg-disabled;
  color: colors.$text-disabled;
  cursor: none;
}

.disabled-bottom {
  @extend %button;

  position: absolute;
  bottom: 60px;
  background-color: colors.$bg-disabled;
  color: colors.$text-disabled;
  cursor: none;
}

.select-container {
  width: 100%;
  height: fit-content;
  display: flex;
  place-items: center;
  justify-content: center;
  gap: 10px;
}

.select {
  @extend %button;

  justify-content: space-between;
  padding: 14px 20px;
  color: colors.$text-disabled;
  background-color: colors.$bg-light;
  border: solid 2px colors.$bg-light;

  &:active {
    background-color: colors.$bg-light;
  }
}

.selected {
  @extend %button;

  justify-content: space-between;
  padding: 14px 20px;
  border: solid 2px colors.$primary-strong;
  color: colors.$primary-normal;
  background-color: colors.$primary-light;
  transition: all 0.1s;

  &:active {
    background-color: colors.$primary-light;
  }
}

.no-margin {
  margin: 0;
}

.back {
  @extend %button;

  &:active {
    background-color: colors.$bg-light;
  }

  height: 44px;
  width: 44px;
}

.forward {
  @extend %button;

  &:active {
    background-color: colors.$bg-light;
  }

  color: colors.$text-default;
  height: 44px;
  min-width: 44px;
  width: fit-content;
}

.icon {
  width: 20px;
  height: 20px;
  cursor: pointer;
}
