@use "@/styles/colors";

%button {
  display: flex;
  place-items: center;
  justify-content: center;
  border-radius: 8px;
  cursor: pointer;
  color: colors.$common-white;

  &:active {
    background-color: colors.$primary-strong;
  }
}

.default {
  @extend %button;

  background-color: colors.$primary-normal;
  height: 52px;
  width: 100%;
}

.go-back {
  @extend %button;

  // background-color: colors.$fill-normal;
  height: 40px;
  width: 40px;
}

.icon {
  width: 20px;
  height: 20px;
  cursor: pointer;
}
