@use "@/styles/colors";

%bubble {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  border-radius: 8px;
  padding: 10px 0;
  color: colors.$text-default;
}

.bubble {
  @extend %bubble;

  background-color: colors.$common-white;
}

.bubble-container {
  @extend %bubble;

  padding-top: 24px;
  position: relative;
  gap: 24px;
  z-index: 0;
}

.speak-bubble {
  position: absolute;
  left: calc(50% - 167.5px);
  top: 0;
  width: 335px;
  height: 352px;
  z-index: 0;
}

.question {
  margin: 0;
  z-index: 1;
}
