@use "@/styles/colors";

.container {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  gap: 1rem;
  // TODO: height 반응형 조절
  height: 100dvh;
}

.munto-img {
  margin-top: 100px;
}

.tarot-card-deck-container {
  position: relative;
  flex-grow: 1;
  width: 600px;
  // overflow: hidden;
  margin: 0 auto;
}

.card {
  position: absolute;
  width: 60px; /* CARD_WIDTH와 동일 */
  height: 45px;
  background-color: #999;
  border: 1px solid #333;
  border-radius: 4px;
}

.selected-cards-slot-container {
  width: 100%;
  max-width: 430px;
  padding-bottom: calc(60px + 52px + 30px);

  .empty-card-slot {
    display: flex;
    justify-content: space-evenly;

    .empty-card {
      width: 64px;
      height: 110px;
      background-color: colors.$bg-disabled;
      border-radius: 8px;
      border: solid 2px colors.$primary-medium;
    }
  }
}

.card-row {
  position: relative;
  width: calc(100% + 300px);
  height: 100%;
}

.munto {
  display: flex;
  flex-direction: column;
}

.munto-image-container {
  /* Auto layout */
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 0;
  gap: 10px;
  width: 375px;
  height: 284.5px;
}
